* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #F9C4D2, #E2A7C0);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px; /* Adjusted width */
}
img {
    max-width: 100%;       /* Ensures the image doesn't overflow its container */
    height: auto;          /* Maintains the aspect ratio of the image */
    display: block;        /* Removes any extra space below the image */
    margin: 20px auto;     /* Centers the image horizontally */
}


h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    transition: border-color 0.3s; /* Smooth transition for focus effect */
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #E2A7C0; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #E2A7C0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #F9C4D2;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #E2A7C0;
    text-decoration: none;
    font-size: 14px;
}

.register-link a:hover {
    text-decoration: underline;
}
